w3m-button{
    background-color: aliceblue;
    height: 30px;
    width : 5vw;
    color: aqua;
    display: flex;
    justify-content: center;
}
*{
    background-color: "#FFF";
  
}
body{
    background-color: "#FFF";
}
.searchbar::placeholder{
    padding-left: 5%;
    font-size:13px;
    color: #5A5A5A;
    opacity: 50%;
}
.eventButton{
    padding: 0% 1%;
    border : 1px solid #6f6f6f;
    border-radius: 50px;
    margin-right: 1%;
    color:#6f6f6f;
    font-size: 13px;
    
}
.course-card {
    background-color: #f8f6f1;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color:"#565656"

  }
  
  .course-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
 
  
  .start-test {
    background-color: #D7C5A8;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    color:#565656;
    border-radius: 80;
  }
  
  .course-certification {
    background-color: #e3f8d7;
    padding: 10px;
    border-radius: 5px;
   
    text-align: center;
  }
  
  .course-details {
    display: flex;
    flex-direction: column;
  }
  
  .course-questions, .course-recommendations {
    margin-bottom: 10px;
    text-align: center;
  }
  