@tailwind base;
@tailwind components;
@tailwind utilities;

.program-main{
    display: flex;
    flex-direction: row;
    margin: 5%;
}
.program-left{
    flex: 0 0 15%;
    display: flex;
    padding: 2%;
    align-items: flex-start;
    justify-content: center;
    background-color: black;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
.program-sub{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;
}
.program-right{
    display: flex;
    background-color: beige;
    flex-direction: column;
    color: black;
    gap: 1%;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;

}
.program-right-header{
    display: flex;
    margin-top: 1%;
    margin-left: 1%;
    flex-direction: row-reverse;
}
.program-right-question{

}
.program-right-console{

}

.program-right-console {
    background-color: #1e1e1e; /* Dark background for the console */
    color: #d4d4d4; /* Light text color */
    border: 1px solid #333; /* Border to define the console area */
    border-radius: 4px; /* Rounded corners for a softer look */
    padding: 10px; /* Padding inside the console area */
    font-family: 'Courier New', Courier, monospace; /* Monospace font for the code */
    font-size: 14px; /* Font size */
    overflow: auto; /* Scroll if content overflows */
    height: 300px; /* Height of the console area */
}

.program-right-console::before {
    content: '   Code'; /* Title for the console area */
    display: block;
    background-color: #333; /* Darker background for the title */
    color: #fff; /* White text for the title */
    padding: 5px;
    border-bottom: 1px solid #444; /* Border below the title */
    font-weight: bold; /* Bold font for the title */
}
.output-display::before{
    content: ' OUTPUT'; /* Title for the console area */
    display: block;
    background-color: #333; /* Darker background for the title */
    color: #fff; /* White text for the title */
    padding: 5px;
    border-bottom: 1px solid #444; /* Border below the title */
    font-weight: bold; /* Bold font for the title */
}
.output-display{
    width: 50%;
    background-color: #1e1e1e; /* Dark background for the console */
    color: #1dcd38; /* Light text color */
    border: 1px solid #333; /* Border to define the console area */
    border-radius: 4px; /* Rounded corners for a softer look */
    padding: 10px; /* Padding inside the console area */
    font-family: 'Courier New', Courier, monospace; /* Monospace font for the code */
    font-size: 14px; /* Font size */
    overflow: auto; /* Scroll if content overflows */
    height: 300px; /* Height of the console area */
}
